# Игнорировать файл foo.txt.
foo.txt
# Игнорировать html файлы
*.log
# Но конкретно foo.html не игнорировать
!test.log
# Игнорировать rar файлы в корне проекта
# Допустим файл /temp/main.rar не будет проигнорирован т.к. он не в корне
/*.rar
